<strong> Hello, {{ provider }}</strong>
<p>An appointment has been canceled, check out the datails below.</p>

<p>
  <strong>Customer:</strong> {{ user }} <br/>
  <strong>Date/Time:</strong> {{ date }} <br/><br/>
  <small>The date and time above is now available to book a new appointment.</small>
</p>
